<template name="_dashHeader">

  <nav class="dash navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">

      <div class="dash navbar-header">

        <a class="navbar-brand {{isActiveRoute regex='dashhome'}}" href="{{ pathFor 'dashhome' }}"><img src="/images/logo.png" width="200px" height="75px"></a>

        <div class="dash-nav-right">
            <a href="#" data-action="logout"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Sign Out</a>
        </div>
      </div>



    </div>
  </nav>

</template>
