<template name="dashLayout">
{{> _dashHeader}}
    <div id="wrapper">
      {{#if showProfilePreview}}
      {{#if showNewReview}}
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {{#if onboardingComplete}}
                <li class="">
                    <a href="{{ pathFor 'dashhome' }}" class ="" style="{{isActive 'dashhome'}}"><i class="fa fa-tachometer fa-lg {{isActiveRoute regex='dashhome'}}" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Dashboard</a>
                </li>
                {{/if}}
                <li class="">
                    <a href="{{ pathFor 'profile' }}" style="{{isActive 'profile'}}"><i class="fa fa-id-card fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Profile</a>
                </li>
                 <li class="">
                    <a href="" id='contacts' class="activeUser" style="{{isActive 'contacts'}}"><i class="fa fa-database fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Contacts</a>
                </li>
                {{#if onboardingComplete}}
                <li>
                    <a href="" id="invites" class="activeUser" style="{{isActive 'invites'}}"><i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Invites</a>
                </li>
                 <li>
                    <a href="" id="reviews" class="activeUser" style="{{isActive 'reviews'}}"><i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Reviews</a>
                </li>

                <li>
                    <a href="" id="reports" class="activeUser" style="{{isActive 'reports'}}"><i class="fa fa-line-chart fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Reports</a>
                </li>
                <li>
                    <a href="" id="account" class="activeUser"><i class="fa fa-sliders fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Account</a>
                </li>
                {{/if}}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        {{/if}}
        {{/if}}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container">
                <div class="row">
                <!-- <div class="col-md-1"> </div> -->

                    <!-- <div class="col-md-10"> -->
                         {{> yield}}
                    <!-- </div> -->
                 <!-- <div class="col-md-1"> </div> -->
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
  {{> _footer style=""}}
</template>
