<template name="modalDashboardBody">
    <p>
      Before you can begin collecting reviews for your public profile we need to run through
      a couple of quick onboarding steps.
    </p>
    <p>
      First, you will fill out your profile information (similar to LinkedIn).
    </p>
    <p>
      Next, you’ll either import your LinkedIn contacts list (recommended)
      or manually enter the contacts you wish to use to send review requests to.
    </p>
    <p>
      After that’s done, you’re good to go!
    </p>
</template>
