<template name="invites">
  <div class="template-profile">
    <div class="row">
        <div class="col-md-10">
          <h3 class="page-header">Invites</h3>
        </div>
    </div>
    <div class="row">
        <div class="box col-md-10">
          <p>
            Select the company and candidate contacts you wish to send a review request to.
          </p>
          <p>
            Company contacts will be sent an email asking them to review you for helping them find candidates.
          </p>
          <p>
            Candidates will be sent an email asking them to review you for helping them get hired.
          </p>
          <p>
            Once you send a request for a review you can keep track of it’s status by checking the Recently Invited tab.
          </p>
        </div>
    </div>
    {{#if showTabs}}
    <div class="row">
      <div class="col-md-10">
        {{#basicTabs name="" tabs=tabs activeTab=activeTab}}
          {{#tabContent slug="companies"}}
          <div class="">
            <button class="btn btn-lg btn-sendinvites" style="margin-bottom: 25px;" id="sendInvitesCompanies"><i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Send Invites</button>
          </div>
          <table style="width:100%">
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Company Name</th>
              <th>Title</th>
              <th>Email</th>
              <!--<th><input type="checkbox" id="select-all-companies" value="option1" aria-label=""></th>-->
            </tr>
            {{#each companies}}
              <tr>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.company}}</td>
                <td>{{this.title}}</td>
                <td>{{this.email}}</td>
                <td><input class="checkbox-companies" type="checkbox" id="blankCheckbox" value={{this.email}} data-id={{this._id}} data-fname={{this.firstName}} data-lname={{this.lastName}} data-type={{this.type}} ria-label=""></td>
              </tr>
            {{/each}}
          </table>
          {{> defaultBootstrapPaginator pagination=templatePaginationCompanies limit="30" containerClass="text-center" onClick=clickEvent}}
          {{/tabContent}}

          {{#tabContent slug="candidates"}}
          <div class="">
            <button class="btn btn-lg btn-sendinvites" id="sendInvitesCandidates" style="margin-bottom: 25px;"><i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Send Invites</button>
          </div>
          <table style="width:100%">
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Company Name</th>
              <th>Title</th>
              <th>Email</th>
              <th><input type="checkbox" id="select-all-candidates" value="option1" aria-label=""></th>
            </tr>
            {{#each candidates}}
              <tr>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.company}}</td>
                <td>{{this.title}}</td>
                <td>{{this.email}}</td>
                <td><input class="checkbox-candidates" type="checkbox" id="blankCheckbox" value={{this.email}} data-id={{this._id}} aria-label=""></td>
              </tr>
            {{/each}}
          </table>
          {{> defaultBootstrapPaginator pagination=templatePaginationCandidates limit="30" containerClass="text-center" onClick=clickEvent}}
          {{/tabContent}}

          {{#tabContent slug="recentlyInvited"}}
          <table style="width:100%">
            <tr>
              <th>Type</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Company Name</th>
              <th>Title</th>
              <th>Email</th>
              <th>Request Date</th>
            </tr>
            {{#each recentlyInvited}}
              <tr>
                <td>{{this.type}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.company}}</td>
                <td>{{this.title}}</td>
                <td>{{this.email}}</td>
                <td>{{this.sentInvitationDate}}</td>
              </tr>
            {{/each}}
          </table>
          {{> defaultBootstrapPaginator pagination=templatePaginationCompanies limit="30" containerClass="text-center" onClick=clickEvent}}
          {{/tabContent}}


        {{/basicTabs}}
      </div>
    </div>
    {{/if}}
  </div>
</template>
