<template name="home">
		
  	
	  <div class="template-home">
	    
	      <center>
	      	<div style="margin-top:50px;">
	      		<h1>Recruiting Above the Noise</h1>
	      	</div>
	      </center>
	   
	    <center>
	    	<div style="padding-bottom:30px; width:80%;">
		    	<p style="font-size: xx-large;">Our reputation networking tools help you retain and acquire more clients and candidates with less effort.</p><br>
		    	<a href="{{ pathFor 'atSignUp' }}" class="btn regBtn">GET EARLY ACCESS</a>
		    </div>
	    </center>  
	      
	    
	  </div>
	
</template>
