.template-home {
	background-color:transparent;
	color:#ffffff;
	margin-left:20%;
	margin-right:20%;

	}


.template-profile {

}

.template-profile .box {

	border:1px solid #12DBBC;
	border-radius: 5px;
	padding:10px;
	margin:10px;

}

.page-header {
	color: #12dbbc;
	font-family: 'Catamaran', sans-serif;
	font-size: 24px;
}

.basicTabs-container .tabs-list .tab-item {
	background-color: #e56e07;
	font-size: 13px;
	font-weight: bold;
	color: black;
}

.basicTabs-container .tabs-list .tab-item.active {
	background-color: #e56e07;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
