<template name="previewProfile">
  {{#with userData}}
    <div class="template-profile">
      <div class="row">
        <div class="col-md-5" style="border-right: 3px solid rgba(128, 128, 128, 0.32)">
          <div class="row">
          {{#if profilePictureExist}}
          <div class="col-md-4">
            <div class="circular-preview" alt="Yo" style="background:url('{{profilePicture.url}}');"></div>
          </div>
          {{/if}}
          <div class="col-md-8 name">
            <h3>{{profile.firstName}} {{profile.lastName}}</h3>
            <p class="blurb">{{profile.blurb}}</p>
          </div>
        </div>
        <div class="row col-md-12">
          <h3>INDUSTRY FOCUS</h3><br>
          <b>
          {{#each this.profile.industries}}
          {{this}},
          {{/each}}
          </b>
        </div>
        <div class="row col-md-12">
          <h3>EXPERIENCE</h3><br>
          {{#if recordsExists}}
          {{#each records}}
          <h4>{{this.companyName}} {{this.position}} {{this.yearStart}}-{{this.yearEnd}}</h4>
          <p>{{this.dutiesDescription}}</p>
          {{/each}}
          {{/if}}
        </div>
        <div class="row col-md-12">
          <h3>EDUCATION</h3><br>
          {{#if educationExists}}
          {{#each education}}
          <h4>{{this.institutionName}} {{this.certEarned}} {{this.yearEarned}}</h4>
          {{/each}}
          {{/if}}
        </div>
      </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h3>RATING</h3>
            </div>
            <div class="box col-md-5">
              {{> starsRating rating=recruiterRating id='rating-overall' size='lg'}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h3>REVIEWS</h3>
              {{#each reviewIsPublic}}
              <div class="box">
              <div class="row">
                <div class="col-md-6">
                  <h3>Overall</h3>
                </div>
                <div class="box col-md-4">
                  {{> starsRating rating=this.overall id='rating-overall' size='lg'}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3>Comments</h3>
                </div>
                <div class="box col-md-4 blurb">
                  <h5>{{this.comment}}</h5>
                </div>
              </div>
            </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/with}}
</template>
