<template name="profile">
  {{> flashMessages}}
  {{#with userinfo}}
  <div class="template-profile">
  <!--STATUS-->
  <!--PIC, CONTACT AND BLURB-->
  <form>
    <div class="row">
        <div class="box col-md-10" id="btnPro">
          <button type="button" class="btn saveProfile saveClass"> SAVE</button>
          {{#if onboardingComplete}}
          <button type="button" class="btn previewProfile">Preview</button>
          {{/if}}
        </div>
    </div>
    <div class="row">
      <div class="box col-md-10">
      {{#if profilePictureExist}}
      <div class="col-md-3">
        <div class="circular" alt="Yo" style="background:url('{{profilePicture.url}}');"></div>
        <button class="btn" type="button" name="button" id="editPicture">Edit</button>
      </div>
      {{/if}}
      {{#if showEditProfilePicture}}
      {{#if spinner}}
      <div class="col-md-3">
        <div class="sk-circle">
          <div class="sk-circle1 sk-child"></div>
          <div class="sk-circle2 sk-child"></div>
          <div class="sk-circle3 sk-child"></div>
          <div class="sk-circle4 sk-child"></div>
          <div class="sk-circle5 sk-child"></div>
          <div class="sk-circle6 sk-child"></div>
          <div class="sk-circle7 sk-child"></div>
          <div class="sk-circle8 sk-child"></div>
          <div class="sk-circle9 sk-child"></div>
          <div class="sk-circle10 sk-child"></div>
          <div class="sk-circle11 sk-child"></div>
          <div class="sk-circle12 sk-child"></div>
        </div>
      </div>
      {{else}}
      <div class="col-md-3">
        <form class="dropzone" id="dropzoneProfile">
          <div class="dz-message">
            <h3 class="gragImg">Drag Image here</h3>
          </div>
        </form>
      </div>
      {{/if}}
      {{/if}}
      <div class="col-md-3">
        <div class="form-group">
          <label for="blurb">Short Bio</label>
          <textarea maxlength="200" id="blurb" style="width:100%; height:150px; border:1px solid #eeeeee;" class="blurbtxt col-md-4" value="{{this.profile.blurb}}" name="profile.blurb">{{this.profile.blurb}}</textarea>
        </div>
      </div>
      <div class="col-md-6">Public Contact Info<br><br>
        <div class="form-group row">
          <label for="p_phone" class="col-xs-2 col-form-label">Phone</label>
          <div class="col-xs-8">
            <input class="form-control p_phone" name="profile.p_phone" type="text" value="{{this.profile.p_phone}}" id="p-phone">
          </div>
        </div>
      <div class="form-group row">
          <label for="p_email" class="col-xs-2 col-form-label">Email</label>
          <div class="col-xs-8">
            <input class="form-control p_email" name="profile.p_email" type="text" value="{{this.profile.p_email}}" id="p-email">
          </div>
        </div>
      <div class="form-group row">
          <label for="p_website" class="col-xs-2 col-form-label">Website</label>
          <div class="col-xs-8">
            <input class="form-control p_website" name="profile.p_website" type="text" value="{{this.profile.p_website}}" id="p-website">
          </div>
        </div>
        <div class="form-group row">
          <label for="p_linkedin" class="col-xs-2 col-form-label">LinkedIn</label>
          <div class="col-xs-8">
            <input class="form-control p_linkedin"  name="profile.p_linkedin" type="text" value="{{this.profile.p_linkedin}}" id="p-linkedin">
          </div>
        </div>
      </div>
    </div>
    </div>
  <!--BIO-->
    <div class="row">
        <div class="box col-md-10">
          <div class="form-group">
            <label for="mResume">Mini-Resume</label>
            <textarea maxlength="1500" id="mResume" style="width:100%; height:150px; border:1px solid #eeeeee;" class="mresumetxt col-md-4" value="{{this.profile.mresume}}" name="profile.mresume">{{this.profile.mresume}}</textarea>
          </div>
        </div>
    </div>
  <!--PROFESSIONAL RECORD-->
     <div class="row">
        <div class="box col-md-10">Work RECORD <button type="button" id="addRecord" name="button"><i class="fa fa-plus"></i>Add Record</button></div>
     </div>
     <div class="row profile-table">
       <div class="col-md-10">
       {{#each records}}
        {{#if showEditRecord}}
        {{> workRecordEdit data=recordData}}<br>
        {{/if}}
       {{/each}}
       {{#if recordsExists}}
       <!-- <table class="col-md-10 record-table"> -->
         <!-- <tr>
           <th>Company Name</th>
           <th>Position</th>
           <th>Year Start</th>
           <th>Year End</th>
           <th>Description</th>
           <th class="t-btn">Edit</th>
           <th class="t-btn">Delete</th>
         </tr> -->
         <div class="row">
           <div class="col-md-3">
             <b>Company Name</b><br>
           </div>
           <div class="col-md-3">
             <b>Position</b><br>
           </div>
           <div class="col-md-2">
             <b>Year Start</b><br>
           </div>
           <div class="col-md-2">
             <b>Year End</b><br>
           </div>
           <div class="col-md-1">
             <b>Edit</b><br>
           </div>
           <div class="col-md-1">
             <b>Delete</b><br>
           </div>
         </div>

         {{#each records}}
         <div class="row">
           <div class="col-md-3">
             {{this.companyName}}
           </div>
           <div class="col-md-3">
             {{this.position}}
           </div>
           <div class="col-md-2">
             {{this.yearStart}}
           </div>
           <div class="col-md-2">
             {{this.yearEnd}}
           </div>
           <div class="col-md-1">
              <i class="fa fa-pencil" id="editRecord"></i>
           </div>
           <div class="col-md-1">
             <i class="fa fa-trash" id="deleteRecord"></i>
           </div>
           <div class="col-md-12">
             <b>Description</b><br>
             {{this.dutiesDescription}}
           </div>
         </div>
         <!-- <tr>
           <td>{{this.companyName}}</td>
           <td>{{this.position}}</td>
           <td>{{this.yearStart}}</td>
           <td>{{this.yearEnd}}</td>
           <td>{{this.dutiesDescription}}</td>
           <td>
             <i class="fa fa-pencil" id="editRecord"></i>
           </td>
           <td>
             <i class="fa fa-trash" id="deleteRecord"></i>
           </td>
         </tr> -->
         {{/each}}
       <!-- </table> -->
       {{/if}}
      </div>
     </div>
  <!--EDUCATION, TRAINIING & CERTS-->
     <div class="row">
        <div class="box col-md-10">Education <button type="button" id="addEducation" name="button"><i class="fa fa-plus"></i>Add Education</button></div>
     </div>
     <div class="row profile-table">
       <div class="col-md-10">
       {{#each education}}
        {{#if showEditEducation}}
        {{> educationRecordEdit data=educationData}}<br>
        {{/if}}
       {{/each}}
       {{#if educationExists}}
       <div class="row">
         <div class="col-md-3">
           <b>Institution Name</b><br>
         </div>
         <div class="col-md-3">
           <b>Course of Study</b><br>
         </div>
         <div class="col-md-2">
           <b>Cert Earned</b><br>
         </div>
         <div class="col-md-2">
           <b>Year Earned</b><br>
         </div>
         <div class="col-md-1">
           <b>Edit</b><br>
         </div>
         <div class="col-md-1">
           <b>Delete</b><br>
         </div>
       </div>
         {{#each education}}
         <div class="row">
           <div class="col-md-3">
             {{this.institutionName}}
           </div>
           <div class="col-md-3">
             {{this.courseOfStudy}}
           </div>
           <div class="col-md-2">
             {{this.certEarned}}
           </div>
           <div class="col-md-2">
             {{this.yearEarned}}
           </div>
           <div class="col-md-1">
              <i class="fa fa-pencil" id="editEducation"></i>
           </div>
           <div class="col-md-1">
             <i class="fa fa-trash" id="deleteEducation"></i>
           </div>
         </div>
         {{/each}}
       <!-- </table> -->
       {{/if}}
      </div>
     </div>
     <div class="row">
         <div class="box col-md-10">
           <button type="button" class="btn saveProfile saveClass"> SAVE</button>
           {{#if onboardingComplete}}
           <button type="button" class="btn previewProfile">Preview</button>
           {{/if}}
         </div>
     </div>
   </form>
  </div>
  {{/with}}
</template>
