<template name="profile">
  {{> flashMessages}}
  {{#with userinfo}}
  <div class="template-profile">
  <!--STATUS-->
  <!--PIC, CONTACT AND BLURB-->
  <form>
    <div class="row">
        <div class="box col-md-10">
          <button type="button" class="btn previewProfile">Preview</button>
        </div>
    </div>
    <div class="row">
        <div class="box col-md-10">
          <button type="button" class="btn saveProfile"> SAVE</button>
        </div>
    </div>
   <div class="row">
     {{#if profilePictureExist}}
     <div class="box col-md-{{getCurrentsize}}">
       <img src="{{profilePicture.url}}" alt="Yo" style="width: 25%; height:25%;">
       <button type="button" name="button" id="editPicture">Edit</button>
     </div>
     {{/if}}
     {{#if showEditProfilePicture}}
     <div class="box col-md-5">
       <form class="dropzone" id="dropzoneProfile">
         <div class="dz-message">
           <h3>Drag Image here</h3>
         </div>
       </form>
     </div>
     {{/if}}
    </div>
    <div class="row">
      <div class="box col-md-3">
        <div class="form-group">
          <label for="blurb">Short Bio</label>
          <textarea maxlength="200" id="blurb" style="width:100%; height:150px; border:1px solid #eeeeee;" class="blurbtxt col-md-4" value="{{this.profile.blurb}}" name="profile.blurb">{{this.profile.blurb}}</textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box col-md-10">Public Contact Info<br><br>
        <div class="form-group row">
          <label for="p_phone" class="col-xs-2 col-form-label">Phone</label>
          <div class="col-xs-10">
            <input class="form-control p_phone" name="profile.p_phone" type="text" value="{{this.profile.p_phone}}" id="p-phone">
          </div>
        </div>
      <div class="form-group row">
          <label for="p_email" class="col-xs-2 col-form-label">Email</label>
          <div class="col-xs-10">
            <input class="form-control p_email" name="profile.p_email" type="text" value="{{this.profile.p_email}}" id="p-email">
          </div>
        </div>
      <div class="form-group row">
          <label for="p_website" class="col-xs-2 col-form-label">Website</label>
          <div class="col-xs-10">
            <input class="form-control p_website" name="profile.p_website" type="text" value="{{this.profile.p_website}}" id="p-website">
          </div>
        </div>
        <div class="form-group row">
          <label for="p_linkedin" class="col-xs-2 col-form-label">LinkedIn</label>
          <div class="col-xs-10">
            <input class="form-control p_linkedin"  name="profile.p_linkedin" type="text" value="{{this.profile.p_linkedin}}" id="p-linkedin">
          </div>
        </div>
      </div>
    </div>
  <!--BIO-->
    <div class="row">
        <div class="box col-md-10">
          <div class="form-group">
            <label for="mResume">Mini-Resume</label>
            <textarea maxlength="1500" id="mResume" style="width:100%; height:150px; border:1px solid #eeeeee;" class="mresumetxt col-md-4" value="{{this.profile.mresume}}" name="profile.mresume">{{this.profile.mresume}}</textarea>
          </div>
        </div>
    </div>
  <!--PROFESSIONAL RECORD-->
     <div class="row">
        <div class="box col-md-10">Work RECORD <button type="button" id="addRecord" name="button"><i class="fa fa-plus"></i>Add Record</button></div>
     </div>
     <div class="row">
       {{#each records}}<br>
        {{#if showEditRecord}}
        {{> workRecordEdit data=recordData}}
        {{/if}}
       {{/each}}
       {{#if recordsExists}}
       <table class="col-md-10 record-table">
         <tr>
           <th>Company Name</th>
           <th>Position</th>
           <th>Year Start</th>
           <th>Year End</th>
           <th>Description</th>
           <th class="t-btn">Edit</th>
           <th class="t-btn">Delete</th>
         </tr>
         {{#each records}}
         <tr>
           <td>{{this.companyName}}</td>
           <td>{{this.position}}</td>
           <td>{{this.yearStart}}</td>
           <td>{{this.yearEnd}}</td>
           <td>{{this.dutiesDescription}}</td>
           <td>
             <i class="fa fa-pencil" id="editRecord"></i>
           </td>
           <td>
             <i class="fa fa-trash" id="deleteRecord"></i>
           </td>
         </tr>
         {{/each}}
       </table>
       {{/if}}
     </div>
  <!--EDUCATION, TRAINIING & CERTS-->
     <div class="row">
        <div class="box col-md-10">Education <button type="button" id="addEducation" name="button"><i class="fa fa-plus"></i>Add Education</button></div>
     </div>
     <div class="row">
       <!-- {{#each education}}<br>
        {{#if showEditEducation}}
        {{> educationRecordEdit data=educationData}}
        {{/if}}
       {{/each}} -->
       {{#if educationExists}}
       <table class="col-md-10 record-table">
         <tr>
           <th>Institution Name</th>
           <th>Course of Study</th>
           <th>Cert Earned</th>
           <th>Year Ended</th>
           <th class="t-btn">Edit</th>
           <th class="t-btn">Delete</th>
         </tr>
         {{#each education}}
         <tr>
           <td>{{this.institutionName}}</td>
           <td>{{this.courseOfStudy}}</td>
           <td>{{this.certEarned}}</td>
           <td>{{this.yearEarned}}</td>
           <td>
             <i class="fa fa-pencil" id="editEducation"></i>
           </td>
           <td>
             <i class="fa fa-trash" id="deleteEducation"></i>
           </td>
         </tr>
         {{/each}}
       </table>
       {{/if}}
     </div>
   </form>
  </div>
  {{/with}}
</template>
