<template name="workRecordEdit">
  {{#with record}}
  <form>
    <div class="form-group">
      <label for="companyName">Company Name</label>
      <input class="form-control"  name="companyName" type="text" value="{{this.companyName}}" id="companyName">
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input class="form-control"  name="position" type="text" value="{{this.position}}" id="position">
    </div>
    <div class="form-group">
      <label for="yearStart">Year Start</label>
      <input class="form-control"  name="yearStart" type="text" value="{{this.yearStart}}" id="yearStart">
    </div>
    <div class="form-group">
      <div class="row">
      <div class="col-md-2">
        <label for="workHere">I Currently Work Here</label>
         <input type="checkbox" name="workHere" value="{{this.yearEnd}}" id="workHere{{record._id}}" class="workHereInput" checked="{{isDisabled}}"/>
      </div>
       <div class="col-md-10">
         {{#if isDisabled}}
          <span>Present</span>
          {{else}}
          <label for="yearEnd">Year End</label>
          <input class="form-control"  name="yearEnd" type="text" value="{{this.yearEnd}}" id="yearEnd" disabled="{{isDisabled}}">
        {{/if}}
       </div>
     </div>
    </div>
    <div class="form-group">
      <label for="dutiesDescription">Duties Description</label>
      <textarea maxlength="500" id="dutiesDescription" style="width:100%; height:150px; border:1px solid #eeeeee;" class="mresumetxt col-md-4" value="{{this.dutiesDescription}}" name="dutiesDescription">{{this.dutiesDescription}}</textarea>
    </div>
    <span style="font-size: 12px;">Maximum 500 Characters</span>
    <br><br>
    <div class="form-group">
      <button type="button" name="button" class="btn" id="cancelEdit">Cancel</button>
      <button type="submit" name="button" class="btn" id="save">Save</button>
      <button type="button" name="button" class="btn" id="delete">Delete</button>
    </div>
  </form>
  {{/with}}
</template>
