.record-table {
  th {
    width: 18.4%;
  }
  .t-btn {
    width: 8% !important;
  }
}
.circular {
  margin-top: 25px;
	width: 150px;
	height: 150px;
	border-radius: 150px;
  background-position: center;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	}
