#submit-title{
  color: #12dbbc;
}

.flag{
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.stars-rating {
  margin-left: .44em;
}

.tea-title {
  color: #12dbbc;
}

.fotter-fixed {
  position: absolute;
  bottom: -.5em;
  margin-left: 50em;
}
