<template name="contacts">
    {{> flashMessages}}
  <div class="template-profile">
    <div class="row">
        <div class="box col-md-10">
          <a href="" style="color: black;">
          <button type="button" class="btn saveProfile" id="bulkImport">BULK Import from Linkedin</button>
          </a>
          <button type="button" class="btn saveProfile" id="openManualImport">Manual Add Contact</button>
        </div>
    </div>
    <div class="row">
      <div class="box col-md-10">
        <form class="dropzone" id="dropzoneDiv">
          <div class="dz-message">
            <h3>Drag Linkeding CSV File to Export here</h3>
          </div>
        </form>
      </div>
    </div>
    {{#if showTabs}}
    <div class="row">
      <div class="col-md-10">
        {{#each companies}}
         {{#if showContactEdit}}
         {{> contactEdit data=contactData}}<br>
         {{/if}}
        {{/each}}

        {{#each candidates}}
         {{#if showContactEdit}}
         {{> contactEdit data=contactData}}<br>
         {{/if}}
        {{/each}}

        {{#basicTabs name="" tabs=tabs activeTab=activeTab}}
          {{#tabContent slug="companies"}}
          Companies
          <table style="width:100%">
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Company Name</th>
              <th>Title</th>
              <th>Email</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            {{#each companies}}
              <tr>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.company}}</td>
                <td>{{this.title}}</td>
                <td>{{this.email}}</td>
                <td><i class="fa fa-pencil" id="editCompany"></i></td>
                <td><i class="fa fa-trash" id="deleteCompany"></i></td>
              </tr>
            {{/each}}
          </table>
          {{> defaultBootstrapPaginator pagination=templatePaginationCompanies limit="30" containerClass="text-center" onClick=clickEvent}}
          {{/tabContent}}

          {{#tabContent slug="candidates"}}
          Candidates
          <table style="width:100%">
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Company Name</th>
              <th>Title</th>
              <th>Email</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            {{#each candidates}}
              <tr>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.company}}</td>
                <td>{{this.title}}</td>
                <td>{{this.email}}</td>
                <td><i class="fa fa-pencil" id="editCandidate"></i></td>
                <td><i class="fa fa-trash" id="deleteCandidate"></i></td>
              </tr>
            {{/each}}
          </table>
          {{> defaultBootstrapPaginator pagination=templatePaginationCandidates limit="30" containerClass="text-center" onClick=clickEvent}}
          {{/tabContent}}

          {{#tabContent slug="unfiltered"}}
          <table style="width:100%">
            <tr>
              <th>Type</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Company Name</th>
              <th>Title</th>
              <th>Email</th>
            </tr>
            {{#each csvData}}
              <tr>
                <td>
                  <select type="{{this.type}}" name="importname{{this._id}}" class="typeContactSelect" id="import{{this._id}}" data-id={{this._id}}>
                    <option value="" selected>Choose One</option>
                    <option value="company" {{selected 'company'}}>Company</option>
                    <option value="candidate" {{selected 'candidate'}}>Candidate</option>
                  </select>
                </td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.company}}</td>
                <td>{{this.title}}</td>
                <td>{{this.email}}</td>
              </tr>
            {{/each}}
          </table>
          {{> defaultBootstrapPaginator pagination=templatePagination limit="30" containerClass="text-center" onClick=clickEvent}}

        <!-- <button type="button" class="btn" id="saveData">Save Contacts</button> -->
          {{/tabContent}}

        {{/basicTabs}}
      </div>
    </div>
    {{/if}}
    <!-- {{#if csvData}}
      {{> defaultBootstrapPaginator pagination=templatePagination limit="50" containerClass="text-center" onClick=clickEvent}}
    {{/if}} -->
  </div>
</template>
