<template name="contacts">
  <div class="template-profile">
    <div class="row">
        <div class="box col-md-10">
          <a href="https://www.linkedin.com/people/export-settings?exportNetwork=Export&outputType=microsoft_outlook" target="_blank" style="color: black;">
          <button type="button" class="btn saveProfile">BULK Import from Linkedin</button>
          </a>
          <button type="button" class="btn saveProfile" id="openManualImport">Manual Add Contact</button>
        </div>
    </div>
    <div class="row">
      <div class="box col-md-10">
        <form class="dropzone" id="dropzoneDiv">
          <div class="dz-message">
            <h3>Drag Linkeding CSV File to Export here</h3>
          </div>
        </form>
      </div>
    </div>
    {{#if showTabs}}
    <div class="row">
  {{#basicTabs name="" tabs=tabs activeTab=activeTab}}
    {{#tabContent slug="companies"}}
    Companies
    {{/tabContent}}

    {{#tabContent slug="candidates"}}
    Candidates
    {{/tabContent}}

    {{#tabContent slug="unfiltered"}}
    <table style="width:100%">
      <tr>
        <th>Type</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Company Name</th>
        <th>Title</th>
        <th>Email</th>
      </tr>
      {{#each csvData}}
        <tr>
          <td>
            <select name="importname{{this._id}}" class="typeContactSelect" id="import{{this._id}}" data-id={{this._id}}>
              <option value="companie" selected>Companie</option>
              <option value="candidate">Candidate</option>
            </select>
          </td>
          <td>{{this.firstName}}</td>
          <td>{{this.lastName}}</td>
          <td>{{this.company}}</td>
          <td>{{this.title}}</td>
          <td>{{this.email}}</td>
        </tr>
      {{/each}}
    </table>
  <button type="button" class="btn" id="saveData">Save Contacts</button>
    {{/tabContent}}

  {{/basicTabs}}
    </div>
    {{/if}}
  </div>
</template>
