<template name="manualImport">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{modalTitle}}</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <select name="type" id="type">
          <option value="" selected>Choose One</option>
          <option value="company">Company</option>
          <option value="candidate">Candidate</option>
        </select>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Title" id="title">
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" placeholder="First Name" id="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" placeholder="Last Name" id="lastName">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" id="email">
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <input type="text" name="company" placeholder="Company" id="company">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" id="save">Save</button>
  </div>
</template>
