<template name="manualImport">
  <form>
    <select name="type" id="type">
      <option value="companie" selected>Companie</option>
      <option value="candidate">Candidate</option>
    </select>
    <input type="text" name="title" placeholder="Title" id="title">
    <input type="text" name="firstName" placeholder="First Name" id="firstName">
    <input type="text" name="lastName" placeholder="Last Name" id="lastName">
    <input type="text" name="email" placeholder="Email" id="email">
    <input type="text" name="company" placeholder="Company" id="company">
  </form>
</template>
